/* Dark Mode */
body.dark-mode {
    --background-color: #1e1e2f;
    --text-color: #ffffff;
    --secondary-text-color: #b0b0b0;
    --primary-color: #00d4ff;
    --card-background-color: #2a2a3d;
}

/* Light Mode */
body.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
    --secondary-text-color: #666666;
    --primary-color: #007acc;
    --card-background-color: #f5f5f5;
}

body{
    background-color: var(--background-color);
}